name: Build, test and package

on: push

jobs:
  package:
    runs-on: ubuntu-latest
    permissions:
      actions: read
      contents: write
      security-events: write
    steps:
    - uses: actions/checkout@v6
    - uses: actions/setup-dotnet@v5
    - name: Initialize CodeQL
      uses: github/codeql-action/init@v4
      with:
        languages: csharp
        queries: +security-and-quality
    - name: Test
      run: |
        dotnet test --nologo --results-directory testresults --collect:"XPlat Code Coverage" -- DataCollectionRunSettings.DataCollectors.DataCollector.Configuration.Format=lcov
        mv testresults/*/coverage.info lcov.info
    - name: Perform CodeQL Analysis
      uses: github/codeql-action/analyze@v4
      with:
        category: "/language:csharp"
        upload: false
        output: sarif-results

    - name: filter-sarif
      uses: advanced-security/filter-sarif@v1
      with:
        patterns: |
          +**/*
          -**/*.g.cs
        input: sarif-results/csharp.sarif
        output: sarif-results/csharp.sarif

    - name: Upload SARIF
      uses: github/codeql-action/upload-sarif@v4
      with:
        sarif_file: sarif-results/csharp.sarif
    - name: Coveralls
      uses: coverallsapp/github-action@v2.3.7
      with:
        github-token: ${{ secrets.GITHUB_TOKEN }}
        path-to-lcov: lcov.info
    - name: Pack Nuget
      run: dotnet pack TypeGuesser/TypeGuesser.csproj -o dist -c Release --include-source -p:IncludeSymbols=true -p:DebugType=full -p:SymbolPackageFormat=snupkg -p:PackageVersion=$(fgrep AssemblyFileVersion SharedAssemblyInfo.cs |cut -d'"' -f2)
    - name: Store created nupkg files
      uses: actions/upload-artifact@v5
      with:
        path: dist/*.nupkg
        retention-days: 1
    - name: Upload Nupkg to Github release
      if: contains(github.ref,'refs/tags/')
      uses: svenstaro/upload-release-action@v2
      with:
        repo_token: ${{ secrets.GITHUB_TOKEN }}
        tag: ${{ github.ref }}
        file: dist/*.nupkg
        file_glob: true
        overwrite: true
    - name: Push Nuget
      if: contains(github.ref,'refs/tags/')
      run: |
        cd dist
        dotnet nuget push *[0-9].nupkg -s https://api.nuget.org/v3/index.json -k ${{ secrets.NUGET_API_KEY }} --skip-duplicate